**
!package.json
!package-lock.json
!tsconfig.json
!vite.config.mjs
!index.html
!src/
!src/**
!public/
!public/**
!hosted/
!hosted/*.mjs
!hosted/package.json
!hosted/package-lock.json
!Dockerfile
!local/
!local/*.mjs
!local/*.py
